# Health-Related Fitness Components and Tests

* * *

### Cardio Endurance

*   Beep Test 1
*   2.4km Run 2
*   12 Minute Cooper Test 3
*   Yo-Yo Endurance Test 4
*   6 Minute Run 5

### Muscular Strength

*   1RM Bench Press 6
*   1RM Squat Test 7
*   Abdominal Strength Test 8
*   1RM Deadlift 9
*   Upper Back Strength (Kraus-Weber) 10
*   Lower Back Strength (Kraus-Weber) 11

### Muscular Endurance

*   Push Up Test 12
*   Bench Pull 13
*   Flexed Arm Hang (PFT) 14
*   Arm Curl Test 15
*   Squat Test 16
*   Wall Sit 17
*   Single Leg Squat 18
*   30 Second Endurance Jump 19
    
### Speed

*   Sprint Test 30m 20
*   Sprint Test 100m 21
*   Plate Tapping Test 22
    
### Power

*   Vertical Jump 23
*   Standing Broad Jump 24
*   3 Hop Test 25
*   Seated Medicine Throw 26
*   Overhead Medicine Ball Throw 27
*   Underhand Medicine Ball Throw 28

### Agility

*   Illinois Agility Run 29
*   T-Test 30
*   Zig Zag Test 31
*   Side Step Test 32
*   Figure of Eight Agility Test 33
    
### Flexibility

*   Sit and Reach 34
*   Shoulder Flex Test 35
*   Toe Touch 36
*   Simple Trunk Rotation Test 37

### Balance

*   Stork Test 38
*   Beam Walk 39
*   Balance Board Test 40
    
### Coordination

*   Wall-Toss Test 41
*   Soda Pop Test 42
*   Plate Tapping Test 43
*   Block Transfer 44

### Reaction Time

*   Ruler Test 45
*   Click Test 46
*   Sound Test 47